* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #5c97d1;
	padding: 20px;
	color: #fff;

}



nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 10px;
}
nav ul li a :hover{
	color: crimson;
}




nav a {
	text-decoration: none;
	color: #c8f141;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	margin-bottom: 20px;
}

.album, .artist {
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 20px;
}

.album h3, .artist h3 {
	margin-top: 10px;
}

.album p, .artist p {
	margin-top: 10px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #34db6e;
	color: #e9eceb;
	text-decoration: none;
	margin-top: 10px;
}

.btn:hover {
	background-color: #1c2665;
}

footer {
	background-color: #41dd9e;
	padding: 20px;
	text-align: center;
}
